div{
    width: 200px;
    height: 200px;
    margin: 100px;
    background-color:rgb(221, 218, 33);
    transition: width 3s,height 3s,transform 3s;
    padding: 50px;
    font-size: 20px;
    color: blanchedalmond;
    
}
div:hover{
    width: 300px;
    height: 300px;
    transform: rotate(175deg);
    background-color: crimson;